
:root{
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 15%);
    --faintDarkBlue: hsl(213, 19%, 21%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Overpass:wght@400;700&family=Pacifico&family=Poppins:wght@400;500&family=Source+Serif+Pro:ital,wght@1,600&family=Varela+Round&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

body{
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: var(--veryDarkBlue);
    margin:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

button{
    font-family: inherit;
}

p {
    line-height: 1.8;
}

.main-container,  .thank-you{
    background-color: var(--darkBlue);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 400px;
}

.main-container img{
    background-color: var(--faintDarkBlue);
    padding:0.5rem;
    border-radius: 50%;
}

.main-container h1{
    color: var(--white);
    margin: 2rem 0 1rem;
}

.main-container p{
    color: var(--lightGrey);
    margin-bottom: 1rem;
}

.main-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: var(--faintDarkBlue);
    color: var(--white);
    padding-top:0.2rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    cursor:pointer;
    transition: 0.3s;
}

.main-container ul li button:hover{
    background-color: var(--orange);
}

.main-container ul li button:focus{
    background-color: var(--lightGrey);
}

.btn-submit{
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border:none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor:pointer;
    transition: 0.3s;
}


.btn-submit:hover{
   background-color: var(--white);
   color:var(--orange);
}

.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thank-you img{
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray{
    background-color: var(--faintDarkBlue);
    border-radius: 30px;
    color: var(--orange);
    padding: 0.2rem 0.3rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.thank-you h2{
    color: var(--white);
    margin-bottom: 1rem;

}


.thank-you p{
    color: var(--lightGrey);
    margin-bottom: 2rem;
}

.hidden{
    display: none;
}

.attribution {
     font-size: 14px; 
     text-align: center; 
     color: var(--white);
     margin-top: 2rem;
    
    }


.attribution a {
     color: hsl(228, 45%, 44%); 
    }